.gradientcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa toda la altura de la página */
  background: linear-gradient(300deg, #16c175, #13a866, #075f39);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Formulario */
.contform {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px; /* Añadir un poco de padding para el contenido */
  background: white; /* Fondo blanco para el formulario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.contform input {
  margin-bottom: 10px; /* Espacio entre los inputs */
  padding: 10px; /* Padding interno de los inputs */
  border: 1px solid #ccc; /* Borde de los inputs */
  border-radius: 4px; /* Bordes redondeados de los inputs */
}

.contform input:hover{
  border-color: #0aa860;
}
.contform input:focus{
  border-color: #0aa860;
  outline: none;
}

.contformButton {
  padding: 10px;
  background-color: #0aa860;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all s;
}

.contformButton:hover {
  background-color: #097d4c; /* Color más oscuro al pasar el ratón */
}

.contform p {
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.link{
  color: #0aa860;
}

.link:hover{
  color: #097d4c;
}

/* Logo */
.contlogo{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.logo{
  width: 150px;
}

/* Logos de Contacto */
.contcontc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.contcontc i{
  color: #097d4c;
  font-size: 20px;
  padding: 0px 20px 0px 20px;
}

/* Tablet */
@media (min-width:768px){
  .contform{
    width: 500px;
  }
}

/* Pc */
@media (min-width:1024px){
  .contform{
    width: 700px;
  }
}