.passwordFieldContainer {
    position: relative;
    margin-bottom: 10px; /* Espacio inferior del campo */
}

.passwordInput {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Espacio para el ícono */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toggleButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-65%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #0aa860; /* Color del ícono */
    font-size: 18px; /* Tamaño del ícono */
    padding: 0;
}

.toggleButton i {
    pointer-events: none; /* Evita que el ícono interfiera con el clic en el campo de entrada */
}
