body {
  background-color: #fff5d1;
}
/*  */
/*  */
.container {
  margin: 60px 10px;
  padding: 10px;
  border: 4px solid #c4311e;
  border-radius: 10px;
  background-color: #097d4c;
  color: #fff5d1;
}
/*  */
/*  */
.containerTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.containerTitle button{
  margin-right: 20px;
  color: #fff5d1;
  font-size: 28px;
  border: 4px solid #c4311e;
  border-radius: 20px;
  padding: 0px 10px;
  background-color: #df3821;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.containerTitle button:hover{
  background-color: #c4311e;
}

.textTotal{
  font-weight: 500;
}
.PayoutButton {
  background-color: #fff5d1;
  padding: 5px 10px;
  border: 2px solid #e4ddc3;
  border-radius: 10px;
  color: #097d4c;
  font-weight: bold;
  margin-right: 15px;
  transition: all 0.5s ease-in-out;
}
.PayoutButton:hover {
  background-color: #e4ddc3;
}
/*  */
/*  */
.containerFooter{
    padding-top: 50px;
    text-align: center;
    color: #097d4cd1;
}

@media (min-width: 1440px) {
  .container{
    margin-left: 180px;
    margin-right: 180px;
  }
}
