body {
  background-color: #fff5d1;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Personas CSS */
.containerPerson{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.titlePerson{
  text-align: center;
  font-size: 25px;
}
.inputPerson{
  border: 2px solid #097d4c;
  border-radius: 8px;
  background-color: #0aa860;
  margin-bottom: 15px;
  color: #fff5d1;
  transition: all 0.5s ease-in-out;
}
.inputPerson::placeholder{
  color: #fff5d1;
}
.inputPerson:hover{
  color: #fff5d1;
  background-color: #0d9155;
}
.inputPerson option{
  border: 2px solid #097d4c;
  border-radius: 8px;
}
.liPerson{
  display: flex;
  align-items: center;
  color: #df3821;
  font-weight: 500;
  margin-bottom: 10px;
  border-bottom: 1px solid #df3821;
}
.liPerson button{
  margin-left: 10px;
  border-radius: 100%;
  margin-bottom: 2px;
  margin-top: 2px;
}
.buttonsuccess{
  border: 1px solid #097d4c;
  background-color: #0aa860;
}
.buttondanger{
  border: 1px solid #992f21;
  background-color: #df3821;
}
.deleteUser{
  color: #fff5d1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-left: 10px;
  border-radius: 100%;
  margin-bottom: 2px;
  margin-top: 2px;
  border: 1px solid #992f21;
  background-color: #df3821;
  transition: all 0.5s ease-in-out;
}
.deleteUser:hover{
  background-color: #992f21;
}
/* Menus CSS */
.containerMenu{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.titleMenu{
  text-align: center;
  font-size: 25px;
}
.inputMenu{
  border: 2px solid #097d4c;
  border-radius: 8px;
  background-color: #0aa860;
  margin-bottom: 15px;
  color: #fff5d1;
  transition: all 0.5s ease-in-out;
}
.inputMenu::placeholder{
  color: #fff5d1;
}
.inputMenu:hover{
  color: #fff5d1;
  background-color: #0d9155;
}
.inputMenu option{
  border: 2px solid #097d4c;
  border-radius: 8px;
}
.Menu {
  border: 5px solid #df3821;
  border-radius: 20px;
  background-color: #097d4c;
  width: 300px;
  height: 450px;
  margin: 20px 5px;
  position: relative;
}
.StatusMenu{
  color: #fff5d1;
}
.StatusMenu button{
  margin-left: 10px;
  border-radius: 100%;
  margin-top: 2px;
}
.DeleteMenu{
  width: 250px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #992f21;
  background-color: #df3821;
  color: #fff5d1;
  font-weight: 450;
  transition: all 0.5s ease-in-out;
}
.DeleteMenu:hover{
  background-color: #992f21;
}
.MenuList{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Create Menu */
.containerCreateMenu{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 5px solid #df3821;
  border-radius: 20px; 
  margin-bottom: 2px;
}
.containerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}
.inputForm, .inputFormImage{
  border: 2px solid #097d4c;
  border-radius: 8px;
  background-color: #0aa860;
  margin-bottom: 10px;
  color: #fff5d1;
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.inputForm::placeholder{
  color: #fff5d1;
}
.inputForm:hover{
  color: #fff5d1;
  background-color: #0d9155;
}
.inputFormImage{
  position: relative;
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
.inputFormImage::before{
  background-color: #0aa860;
  color: #fff5d1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar Imagen'; /* texto por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0
}
.inputFormImage:hover{
  background-color: #0d9155;
}
.buttonCreateMenu{
  width: 250px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #992f21;
  background-color: #df3821;
  color: #fff5d1;
  font-weight: 450;
  transition: all 0.5s ease-in-out;
}
.buttonCreateMenu:hover{
  background-color: #992f21;
}

/* Pedidos CSS */
.containerPedidos{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.titlePedidos{
  text-align: center;
  font-size: 25px;
}
.inputPedidos{
  border: 2px solid #097d4c;
  border-radius: 8px;
  background-color: #0aa860;
  margin-bottom: 15px;
  color: #fff5d1;
  transition: all 0.5s ease-in-out;
}
.inputPedidos::placeholder{
  color: #fff5d1;
}
.inputPedidos:hover{
  color: #fff5d1;
  background-color: #0d9155;
}
.inputPedidos option{
  border: 2px solid #097d4c;
  border-radius: 8px;
}
.containerPedidos ul{
  padding: 0px;
}
.liPedidos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #df3821;
  font-weight: 500;
  margin-bottom: 10px;
  border: 5px solid #df3821;
  border-radius: 20px;
}
.liPedidos button{
  border-radius: 20px;
  margin-bottom: 10px;
  margin-top: 2px;
}
.buttonsuccessPedidos{
  border: 1px solid #097d4c;
  background-color: #0aa860;
}
.buttondangerPedidos{
  border: 1px solid #992f21;
  background-color: #df3821;
}
.buttonDeletePedidos {
  width: 250px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #992f21;
  background-color: #df3821;
  color: #fff5d1;
  font-weight: 450;
  transition: all 0.5s ease-in-out;
}
.buttonDeletePedidos:hover{
  background-color: #992f21;
}
.containerButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: 1440px) {
  .container{
    margin-left: 180px;
    margin-right: 180px;
  }
}