body {
  background-color: #fff5d1;
}
.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerPerson, .containerMenu, .containerPedidos{
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}
